---
import Layout from '../layouts/Layout.astro';
import App from '../components/App.tsx';
import { SortOrder } from '../generated/types';

const url = new URL(Astro.request.url);
const term = url.searchParams.get("term") || "";
const sortOrderParam = url.searchParams.get("sortOrder") || "DESC";

const getSortOrder = (param: string) => {
  if (param.toUpperCase() === 'ASC') {
    return SortOrder.Asc;
  }
  return SortOrder.Desc;
}

const initialSort = getSortOrder(sortOrderParam);
---

<Layout title="Todo App">
  <main>
    <App client:load initialTerm={term} initialSort={initialSort} />
  </main>
</Layout>