---
import Layout from '../layouts/Layout.astro';

import { SortOrder } from '../generated/types';

import ClientRoot from '../components/ClientRoot.tsx';

const url = new URL(Astro.request.url);
const term = url.searchParams.get("term") || "";
const sortOrderParam = url.searchParams.get("sortOrder") || "DESC";

const getSortOrder = (param: string) => {
  if (param.toUpperCase() === 'ASC') {
    return SortOrder.Asc;
  }
  return SortOrder.Desc;
}

const initialSort = getSortOrder(sortOrderParam);
---

<Layout title="Todo App">
  <main>
    <ClientRoot client:load initialTerm={term} initialSort={initialSort} />
  </main>
</Layout>