body {
  background-color: #f0f0f0;
  font-family: sans-serif;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

// li要素のスタイルを一旦リセット
li {
  all: unset; 
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;

  // .todo-item.completed のように両方のクラスを持つ要素のスタイル
  &.completed {
    color: #888;
    text-decoration: line-through;
  }
}
